[submodule "server"] 
 	path = thesis-prototype-server 
 	url = https://github.com/MxPy/thesis-prototype-server
 	branch = main
[submodule "gateway"] 
	path = thesis-prototype-apigateway 
	url = https://github.com/MxPy/thesis-prototype-apigateway
	branch = main
[submodule "admin-gateway"] 
	path = thesis-prototype-admin-apigateway 
	url = https://github.com/MxPy/thesis-prototype-admin-apigateway
	branch = master
[submodule "thesis-mock-server"]
	path = thesis-mock-server
	url = https://github.com/MxPy/thesis-mock-server
	branch = master

[submodule "thesis-prototype-frontend"]
	path = thesis-prototype-frontend
	url = https://github.com/MxPy/thesis-prototype-frontend
	branch = master


